[2019-12-28 08:22] rrva opened #2 "Serve stale content from cache if origin responds with 5xx"
As requested in [this forum thread](https://caddy.community/t/proxy-cache-with-redis-storage-and-serving-stale/6689/2), I want to be able to use caddy as a reverse caching proxy which makes an service more resilient to outages of the origin server, so that if the origin goes down or responds with errors, caddy serves old content.

Specifically:

1. I only want http 200 responses to be cached
2. If

[2020-04-01 22:58] mholt opened #1 "Design/spec discussion"
Currently, this handler works in the most basic sense, but it has a lot of potential and needs some TLC before being truly production-ready. Right now, it's a great foundation to build from.

Since this module was recently spliced out of Caddy's standard modules before the RC1 tag, previous discussions can be found here:

- https://github.com/caddyserver/caddy/issues/10
- https://github.com/caddys

[2020-04-24 16:32] mholt commented on #2
@francislavoie Agreed -- and this feature should be pretty easy to implement. Caddy has a [ResponseRecorder](https://pkg.go.dev/github.com/caddyserver/caddy/v2@v2.0.0-test.4/modules/caddyhttp?tab=doc#ResponseRecorder) which can help the cache decide whether to respond or not.

[2020-05-11 03:25] sillygod commented on #1
Hi, recently, I hack and migrate https://github.com/nicolasazrak/caddy-cache to be consistent with caddy 2 architecture and make it supports in-memory backend.

Here is the repo: https://github.com/sillygod/cdp-cache.  Actually, I am not familiar with the mechanism of cache-control (there are so many RFC about it) and not totally understand the structure of caddy2. I have just touched caddy2 and h

[2020-05-11 14:38] mholt commented on #1
Cool. It would probably be best if we have just one cache handler for v2 rather than multiple, unless they do very different things / have very different approaches that would benefit different users.

But I'm thinking it's quite possible to have just one and satisfy most use cases.

Any interest in combining the two? This cache handler is a distributed cache which is important for a lot of custom

[2020-05-12 03:29] sillygod commented on #1
I agree with you on this point. I would like to combine these two repos. However, I am working on my repo to support my company's requirements so It will be changed frequently (ex. the architecture, features, and more). That means it not stable now.

The advantage to keep working on my repo is I can totally control it :) Maybe it's not a good timing to merge them. :(

[2020-05-14 22:06] mholt commented on #1
@abiosoft If you're interested in working on this repo, consider checking @sillygod's implementation for ideas and real business requirements - might be helpful.

[2020-08-07 01:23] mholt opened #3 "Consider using olric"
Olric: https://github.com/buraksezer/olric

It might make a few things easier (for example, eviction) and seems a little less monkey-patched than stuff on top of Groupcache. But I do love how simple Groupcache is to use, and how proven it is...

[2020-08-07 09:17] buraksezer commented on #3
Hi @mholt, I'm the author of Olric. It's great to see someone wants to use it! I'm ready for collaboration.

[2020-08-07 16:07] mholt commented on #3
@buraksezer Awesome, thanks! This is kind of "up for grabs" right now but maybe I'll find some time this weekend to play with it.

(How'd you find this?)

[2020-08-25 17:54] buraksezer commented on #3
@mholt

I have been working on a possible implementation and I finally have a working prototype. I'm not familiar with the internals of Caddy and I don't know how to pass configuration to Olric, but it works!

Here is my prototype: https://github.com/buraksezer/cache-handler/tree/feature/issue-3

I had search the word 'Olric' and saw this issue. What a nice surprise!

[2020-08-26 16:30] mholt commented on #3
Awesome! I'm behind on notifications but I will take a look at this soon! Anyone else is also welcome to try it out of course.

[2020-08-31 20:43] mholt commented on #3
Had a quick second to look at the code. Not bad, pretty similar to what I got working with groupcache.

I can help on this part if we want to iterate more on this solution:

https://github.com/buraksezer/cache-handler/blob/3765adcc97c5dd95f30d3a9ba1cba8c4c8f5795d/httpcache.go#L191-L199

It'd be good if we could configure Olric's distributed features, so that many Caddy instances could work in a cl

[2020-09-15 18:38] danlsgiga commented on #3
I'm interested in this feature to have Caddy reading `Cache-Control` response headers and caching things in case of the origin goes down.

[2020-10-17 20:39] dunglas commented on #3
The handler now uses Olric!

[2020-10-17 20:39] #3 closed

[2020-10-19 18:29] mholt commented on #3
This is great, thanks for helping with this!!

[2020-11-26 15:31] jasonmccallister opened #10 "Add interface for cache?"
When I was looking to start working on a similar module, I stumbled across this one and I love the work that is being done on this module, this is going to be a great addition to the Caddy modules list!

The only thing I was wondering is if there could be an interface for the caching backend, similar to the [certmagic storage interface](https://github.com/caddyserver/certmagic/blob/master/storage.

[2020-11-26 17:36] mholt commented on #10
That's a cool idea, but sounds tricky; the cache has to meet certain criteria to be useful (and I'm not sure even olrich supports all of the features/functionality we want/require yet). What interface do you propose?

[2020-11-26 17:39] francislavoie commented on #10
Might be really hard to abstract out the relevant interfaces... probably better to just have a separate plugin that is a redis version.

[2020-11-26 17:40] mholt commented on #10
Or not :) We don't know how hard it is until we try. What are the required functions of a cache module?

[2020-11-26 19:46] jasonmccallister commented on #10
I think the interface would match up to something along the lines of the following:

[code]

This is heavily inspired by the [Laravel Cache interface](https://laravel.com/api/8.x/Illuminate/Contracts/Cache/Repository.html), which is amazing, minus a few methods we might not want/need.

[2020-11-28 17:29] dunglas commented on #10
We also need to be able to retrieve the TTL of an entry (for the `Cache-Status` header). We'll also probably need a tag mechanism at some point to support invalidation / purging.

[2020-11-28 18:06] Darkweak commented on #10
Already available in Souin https://github.com/Darkweak/Souin btw

[2020-12-02 20:41] urlund commented on #1
Hi, I'm new to Caddy, but I really love the idea of a cache module build in, and just wanted to give you guys some 👏
Hopefully someone will take lead, and get this project running 💪

[2020-12-02 21:43] francislavoie commented on #1
@urlund just in case it wasn't clear, this module is functional, just not feature complete. You can use it right now! See link to an example in the README: https://github.com/caddyserver/cache-handler#example-configuration

[2020-12-03 08:50] urlund commented on #1
@francislavoie I see, may I suggest that you prioritize a "purge" feature then? :)

[2021-02-19 00:08] ForestJohnson opened #11 "Olric nil pointer panic on last line of internal transport listenAndServe"
in my thread about caching  in caddy to I posted [a reply](https://caddy.community/t/state-of-http-caching-in-caddy-2/11564/8?u=forest_johnson) where I  detailed an exception I was getting from olric when I attempted to run my   `GOARCH=arm` xcaddy build of  caddy 2.4.0 beta + this cache-handler package.

`forest@thingpad:~/Desktop/git/caddy/cmd/caddy$ GOARCH=arm ~/Desktop/programs/xcaddy/xcaddy b

[2021-02-20 09:38] buraksezer commented on #11
Hi @ForestJohnson thank you for reporting. I'm on it. I have never tried to compile Olric with `GOARCH=arm`. Actually it's intended for 64 bit systems (more specifically containers and VMs). There may be many problems on a 32-bit platform.

[2021-02-22 18:56] #11 closed

[2021-04-01 14:45] soyuka commented on #10
If I may, I think that https://www.php-fig.org/psr/psr-6/ fits the model in many ways:

- *Pool*: The Pool represents a collection of items in a caching system. The pool is a logical Repository of all items it contains. All cacheable items are retrieved from the Pool as an Item object, and all interaction with the whole universe of cached objects happens through the Pool.
- *Item* An Item represen

[2021-04-01 17:37] dunglas commented on #10
It's a good start!

We also need to take into account the `Vary` header. To do so, we need a second level of cache. Several responses can be stored for a single tuple (method, URL). So we must first retrieve the `Vary` header form any entry matching this tuple in the cache, then compute the final cache key by adding to the method and the URL the normalized keys and values specified in `Vary`.

It'

[2021-04-01 17:43] soyuka commented on #10
Can't `Vary` just be a part of the key? For example:

[code]

`Cache key: Headers['User-Agent'] . GET . /books`

[2021-04-01 17:52] dunglas commented on #10
No. Vary is typically a response header, not a request one.

[2021-04-01 18:19] Darkweak commented on #10
I did something to achieve this behaviour here https://github.com/Darkweak/Souin/pull/54/files#diff-3e6ce3aa20a99fc94989cf961ba2647ba8e2ff8cb4a092be15befe3efb583303

[2021-05-01 13:43] darkweak opened #16 "Proposal to use Souin as cache system core to cache-handler"
As we discussed on Slack, I suggest you to use an external cache-system.

## What does [Souin](https://github.com/darkweak/souin) support ?
All (TODO items)[https://github.com/caddyserver/cache-handler#todo] except the Varnish tag (a PR to support that will be created on Souin on the next week).
It supports the JSON and Caddyfile configuration and you can find an example using Souin as caddymodule

[2021-05-01 20:20] francislavoie commented on #16
I'd like to hear from @dunglas and @mholt on this, but 👍 to me. I was mainly concerned about the config UX but that's in a good place now I think. I don't know the specifics of the caching RFCs etc so I'd like people who know more to speak on that.

[2021-05-02 16:32] mholt commented on #16
I saw how the configuration improved recently, so I am glad about that. I think this is fine, as long as it still has distributed caching. Would also need @dunglas' approval I think.

[2021-05-02 16:48] buraksezer commented on #16
I have just realized that Souin [doesn't use](https://github.com/Darkweak/Souin/blob/5b56903fe66a4bf0922a43fc572b1d0c2f84ff9f/cache/providers/olricProvider.go#L15) Olric in embedded-server mode. So Souin is just a client for an Olric cluster. In this scenario, there is no difference between memcache or Olric.

In the current version of cache-handler, Caddy servers form an Olric cluster to cache an

[2021-05-02 16:50] mholt commented on #16
Ah, gotcha. One of the requirements of this cache handler is that it supports distributed caching.

[2021-05-02 16:56] francislavoie commented on #16
I find that having Olric embedded in Caddy, while a good idea in theory, didn't seem that good in practice because configuration of Olric is not naturally compatible with Caddy and the way it works with the graceful reloads and app module system. Pointing to a yaml config feels foreign and awkward, especially for a module under the caddyserver org.

If Olric could work that way and be fully config

[2021-05-02 16:59] mholt commented on #16
I did like how easily autocache (groupcache wrapper) integrated as a Go library with JSON configuration, in the initial versions of this module. Wonder if that should be reconsidered.

[2021-05-02 17:11] buraksezer commented on #16
I think that JSON based configuration is easy to implement along with YAML. But reloading config without restarting the process is hard to implement and it requires extensive testing.

[2021-05-02 19:08] Darkweak commented on #16
I don't think it's a good idea to embed a distributed storage system because the replication will grow more and more along the time and will make the software growing indefinitely. IMO I could adapt the Olric provider in Souin to embed this but it will implicate the dump about the Olric instance each time the configuration reload. Then if we chose to never drop the existing db it will cause incons

[2021-05-02 19:10] mholt commented on #16
Hm? The code doesn't grow indefinitely. The first version of this cache was mostly working, and wasn't a large amount of code.

[2021-05-02 22:28] Darkweak commented on #16
@mholt Okay, if you're sure about that, I'll make changes to be able to use Olric this way

[2021-05-03 22:22] mholt commented on #16
Yeah, I mean, as long as it's an embedded, distributed cache -- as automatic as practical -- that is the goal of this module. :+1:

[2021-05-04 06:49] Darkweak commented on #16
It should be available on friday. What do you think about a new configuration key like `embed_distributed` ? It would be interresting to be able to chose between the existing Olric client mode and the embedded mode isn't it ?

[2021-05-05 20:36] mholt commented on #16
I suppose that could be useful if people are already running a separate Olric instance. But it would probably add more complexity too.

[2021-05-05 21:20] Darkweak commented on #16
I don't think this will introduce more complexity because I just have to declare a new provider and implement my provider interface that's it imo.

[2021-05-19 15:12] Darkweak commented on #16
@mholt @francislavoie Olric embedded is now supported in Souin and can be configured through the caddy configuration file.

[2021-05-19 15:17] francislavoie commented on #16
Can you show us an example of how Caddy would be configured with olric clustering? I don't see an example in the PR you merged.

[2021-05-19 15:30] Darkweak commented on #16
[code]

[2021-12-07 14:45] amanintech opened #18 "When is this going to launch ?"
A lot of people have referred to this repo when talking about distributed cache of on demand TLS. Is there a timeline on when this would be launched.
Otherwiese what are current recommended alternatives ?

[2021-12-07 14:49] francislavoie commented on #18
When https://github.com/caddyserver/cache-handler/pull/17 is merged, basically. Should be soon.

[2021-12-08 09:38] darkweak commented on #18
@amanintech otherwise you could use Souin as caddy module directly. `xcaddy build --with=github.com/darkweak/souin/plugins/caddy` should work.

[2021-12-08 10:58] amanintech commented on #18
Hello @darkweak
I think I have raised the same issue on caddy.community as well.
https://caddy.community/t/caddy-v2-varnish-on-demand-tls/14269
I am very new to this. Could you help with doing this in docker-compose. I couldn't find any guide as well.

I have been stuck with this problem for months now without any lead so I would appreciate all help

[2021-12-08 13:14] francislavoie commented on #18
If you mean you don't know how to build Caddy with plugins in Docker, then please see the docs on Docker Hub, it explains: https://hub.docker.com/_/caddy look for the section "Adding custom Caddy modules"

[2021-12-14 15:11] #18 closed

[2022-01-04 16:01] #16 closed

[2022-01-19 13:45] alexandergitter opened #19 "Cache handler module on https://caddyserver.com/download"
Are there any plans to add this Caddy module to the download page at https://caddyserver.com/download?
Thanks!

[2022-01-22 16:22] darkweak commented on #19
I guess it would be possible to do that. @mholt who should maintain this in the caddy module download page ?

[2022-01-22 20:29] mholt commented on #19
@darkweak Generally the maintainer of the plugin should be the one to do that! :+1: Just create / login to your account at caddyserver.com and register the package there.

[2022-01-23 08:46] darkweak commented on #19
I cannot claim the packages under the caddyserver organization. 😅

[2022-01-23 17:00] mholt commented on #19
Oh, right -- oops. Either I'll do it or make a way for you to do it...

[2022-01-24 18:50] mholt commented on #19
@darkweak Can you tag a release? Then I will just add it to the website.

[2022-01-26 08:00] darkweak commented on #19
I have to finish my work on the prometheus export first and after that I'll tag a new version on both sides 👍

[2022-02-06 10:55] darkweak commented on #19
Once https://github.com/darkweak/souin/pull/186 is merged I can tag the `v.1.6.0` and refer this version in the cache-handler dependencies

[2022-02-17 07:24] carterbryden opened #21 "Possible to configure a disk based cache instead of in-memory?"
I'm not sure if this is something that badger or olric can do, but I'm looking to cache pages to disk using the cache handler and then serve them from there, rather than keeping it in memory for the ttl.

Is this something that this plugin can do? If so, are there any docs or examples for this? I followed the link to the official badger docs, but I didn't see anything for this specifically.

Thank

[2022-02-17 11:41] darkweak commented on #19
@mholt I think you can refer it on the website now.

[2022-02-17 13:29] darkweak commented on #21
Hello @carterbryden You can use the `badger.path` configuration property to set a file to cache on disk. It's a hack but it works.
To explain how it works under the hood. It creates a badger DB instance from the default options and merge the options in declared the configuration (your caddyfile or caddyfile.json).

I'll write an example of this declaration asap.

[2022-02-17 16:49] mholt commented on #19
@darkweak Done! Should appear in the docs soon.

[2022-03-04 18:23] ueffel commented on #21
I just played around with the badger configuration. It seems that configuration I provide via Caddyfile isn't used.
Example:

[code]

It outputs `Impossible to parse the configuration for the default provider (Badger)`.
The problem seems to be that configuration value are all read as string, so the unmarshalling to the badger configuration struct errors out with `json: cannot unmarshal string into

[2022-03-04 19:31] francislavoie commented on #21
Sounds like a bug. The Caddyfile unmarshaling should convert those values to numbers before inserting them in the config to be exported. Even better if it uses `github.com/dustin/go-humanize` as Caddy already does, to allow values like `4MB` to be configured which would be converted into the amount of bytes, etc.

[2022-03-08 22:33] ueffel opened #22 "Bug with rewrite directive?"
I found a behaviour that feels weird to me: The module looks for cached responses with the original request URI, but if there is a `rewrite` internally the cache entry is written with the rewritten URI. That means that original request URI does not get a cache hit if requested again.

Minimal example:

[code]

If I request `http://localhost/say/hi` several times I would think that I get the cached

[2022-03-09 03:16] francislavoie commented on #22
FYI @darkweak, you can grab a copy of the original request (before rewrites) with this code:

[code]

I think the cache module could use this instead of `r` for consistency.

[2022-03-09 08:27] darkweak commented on #22
Souin tries to modify at least the request headers and I tried to use the original request from the context but it throws an error that's not a caddy.Replacer pointer.

[2022-03-09 15:59] darkweak commented on #22
This commit should fix that https://github.com/darkweak/souin/pull/189/commits/a7ee6b22c03982dd5960e514d6b23d15643c7ed4

[2022-03-09 19:00] darkweak commented on #21
https://github.com/darkweak/souin/pull/189/commits/2b9ed48e3e1cf2cf86c8bf4b28d54b7f3595542e should fix your issue @ueffel

[2022-03-15 03:25] wazerstar opened #24 "Question: Would this work with hdhomerun for cache/cdn?"
So since you use reverse_proxy with hdhomerun, would this be possible to cache incoming tuners you sent out via dowmstream to share the same data as cdn?

if so how would a caddy config file look like?

My config so far.

[code]

[2022-03-15 09:13] darkweak commented on #21
@ueffel we would know if the latest release of Souin solve your issue with the low-level badger configuration. Can you try with the darkweak/souin/plugins/caddy@latest dependency please?

[2022-03-15 12:45] ueffel commented on #21
@darkweak
Configuration via Caddyfile works

**But** I have a complaints about it:
* i'm getting `Impossible to open the Badger DB. Cannot create lock file "[<badger.path>\\LOCK]()".  Another process is using this Badger database error:`
* It is possible to misconfigure badger so `badger.Open` returns an error (<https://github.com/darkweak/souin/blob/master/cache/providers/badgerProvider.go#L41-L4

[2022-03-15 12:54] ueffel commented on #22
I can confirm this fixed in my use cases in https://github.com/darkweak/souin/commit/5c8b76bf3778676ca7f7de43cd26a5200df3e6d4

Thanks!

[2022-03-15 13:14] darkweak commented on #21
You have to set the BypassLockGuard property in the badger configuration to bypass that.

[2022-03-15 20:40] darkweak commented on #21
Every cache directives open the badger database. You can override the path in each directive to have a single access per directive but I'm working on a singleton implementation to support this use case.

[2022-03-21 14:44] ishuvalov opened #25 "Caddy returns 200 when 5xx fom upstream"
When I use 'cache' handler, Caddy always returns status code 200 and empty response whenever upstream is unavailable or returns 5xx errors.
Please advice how can upstream errors can be passed through the cache. Thanks.

[2022-03-21 14:56] mholt commented on #25
That's just Caddy's default response. Chances are a misconfiguration. What is your config and what is a `curl -v` command that reproduces the 200 response?

[2022-03-21 15:20] ishuvalov commented on #25
Thank you for the reply.
If I remove cache handler from the handlers chain, I get normal 502 from missing upstream.
A also experimented with `curl`:

[code]

And doing this way I get proper 502.
[code]

[2022-03-21 17:20] ishuvalov commented on #25
Here is my config. (I find YAML more human friendly than JSON)
[code]

I also would like to mention, that I tried do build Caddy with two variants of plugin:
`xcaddy build --with github.com/caddyserver/cache-handler` - this one always returns 200 when missing the upstream, even ignoring "Pragma: no-cache" header
`xcaddy build --with github.com/darkweak/souin/plugins/caddy` - this returns statuses

[2022-03-21 17:23] mholt commented on #25
@ishuvalov Got it, thanks. I will defer to @darkweak on this.

(FYI, [HTTP header `Pragma` is obsolete HTTP/1.0](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Pragma), and most servers these days won't support it. You should use Cache-Control instead.)

[2022-03-22 11:41] darkweak commented on #25
The linked PR should fix that directly on [Souin](https://github.com/darkweak/souin).

[2022-03-22 11:57] ishuvalov commented on #25
Thank you very much! 🙏

[2022-03-22 12:37] darkweak commented on #25
@ishuvalov you can use `xcaddy build --with github.com/darkweak/souin/plugins/caddy@master` or `xcaddy build --with github.com/darkweak/souin/plugins/caddy@latest` to see the working fix 😉

[2022-03-22 12:39] darkweak commented on #24
Hi @wazerstar you can define the cache directive in any blocks you want to cache.

[2022-03-22 13:52] francislavoie commented on #24
As explained in https://caddy.community/t/add-userinput-in-url-in-between-url-content/15233/17, the answer is somewhere between "no" and "probably not".

The `cache` plugin is specifically tasked with buffering the entire response and storing it in a cache to save from having to rebuilt the response for subsequent requests.

You're talking about _streams_, which can't be buffered. That is fundamen

[2022-03-28 17:42] francislavoie commented on #11
@gc-ss this issue isn't relevant anymore because this module was rewritten to use souin (which wraps olric) instead of olric directly

[2022-03-28 17:43] gc-ss commented on #2
@rrva are you still interested in this and/or willing to test an implementation?

[2022-03-29 21:23] rrva commented on #2
@gc-ss Sorry, no interest has faded for the moment (not using caddy in this capacity right now).

[2022-04-05 13:06] #24 closed

[2022-04-16 09:36] #19 closed

[2022-04-16 09:36] #21 closed

[2022-04-16 09:36] #22 closed

[2022-04-16 09:36] #25 closed

[2022-05-14 05:51] mattvb91 opened #26 "API Config"
Im trying to configure the cache through the json api with the following config:

[code]

I can see the cache working in the response (ive set a custom max age in my response going out)

[code]

I can also see that the following request no longer hits my upstream and only caddy.

However when I go to my caddy instance: `caddy:2019/config/cache/` (is this right?) I only get `null` as a response not

[2022-05-14 07:52] mohammed90 commented on #26
Try: `caddy:2019/config/apps/cache/`

[2022-05-14 08:03] mattvb91 commented on #26
Thanks for the response @mohammed90 but i think im still confusing the caddy admin config with the cache handler api route.

I am looking for the endpoint where I can get a list of all the keys currently in the cache & where I need to send the `PRUNE` request to prune keys in the cache. I think what you mentioned is the actuall caddy config instead of the cache api?

[2022-05-14 17:56] mattvb91 commented on #26
So turns out I was only missing:

[code]

The whole config now looks like this:

[code]

and i can see the cache at `localhost/__cache/souin` however now im stuck on how to purge keys. Issuing a `PURGE` request to that endpoint with `Surrogate-Key` header with value of one of the items in the list only cleares the FULL cache not the individual key

[2022-05-15 17:19] darkweak commented on #26
You're right @mattvb91 I'm currently working on a fix and improve the E2E tests to ensure no regressions would happen in the future. Thanks for your report 👍

[2022-05-15 17:28] mattvb91 commented on #26
Aah thanks @darkweak I didn't even think that this may be due to a bug I was assuming I didnt have it configured correctly!

So I will continue implementing using the `Surrogate-key` and then wait for the upcoming release! :+1:

Thanks again

[2022-05-17 07:05] mattvb91 commented on #26
Hi @darkweak im not sure if I this issue is related in any way but ill throw it in here before I open a new one (as this may be fixed with your PR https://github.com/darkweak/souin/pull/212

I am seeing the following behaviour when I have cache enabled (Maybe this is due to me having the cache on global level?)

I have a Nextjs upstream that responds fine for the first few requests. However after

[2022-05-17 19:04] darkweak commented on #26
@mattvb91 Do you have an estimate about the period it occurs?
Does your caddy config / nextjs app returns gzip-ed content?
It looks like a cache corruption/pollution by another values, I'll try to investigate on it and reproduce.
IMHO that's an other issue than the one you created.

[2022-05-17 19:33] mattvb91 commented on #26
its pretty difficult to reproduce at the moment, I launch cypress tests to go through my project and then at some stage it gets corrupted.

The reason im suspecting your PR may fix it is because in the background I am triggering async jobs that cache purges when cypress takes certain actions (For example edits a product page it will trigger a cache purge with `Surrogate-Key: 1234-product`) However

[2022-05-18 07:17] mattvb91 commented on #26
So I can confirm the automated cache purging in the background is not the cause of the issue.

I have created a small repository with nextjs upstream & caddy with a small config with cache and it works fine so I went back to my project and test some more.

My current suspicion is that when a new `match =>  host` entry gets added that at some stage the cache gets corrupted. I did not have any purgi

[2022-05-18 07:51] francislavoie commented on #26
You don't need this for JSON. It's specific to the Caddyfile, to tell the Caddyfile adapter how to sort the `cache` directive according to the [built-in directive order](https://caddyserver.com/docs/caddyfile/directives#directive-order). With JSON configs, you completely control the order of your handlers yourself.

[2022-05-18 08:12] mattvb91 commented on #26
Thanks @francislavoie that makes sense!

@darkweak I have managed to recreate the same issue in a minimum test repo and have pushed it for you here: https://github.com/mattvb91/caddy-cache-bug

Everything should be in the readme to get it up and running if you need any help just shout! Sometimes it takes me 5-6 hosts before the corruption occurs.

[2022-05-21 19:41] darkweak commented on #26
I'm on it, thank you for the reproductible repository.

[2022-05-22 20:15] darkweak commented on #26
I'm able to reproduce. I think that's a cache pollution. I'll try to work on the fix this week. Thanks for the report but can you open a new issue for this because it won't be part of the actual linked PR I guess (core changes).

[2022-05-23 06:30] mattvb91 commented on #26
Awesome stuff, will open a new issue this evening when i get home! Thanks

[2022-05-23 11:12] mattvb91 opened #27 "Suspected cache pollution when adding multiple hosts"
When adding multiple hostnames to an upstream (?) after a certain amount of time (or certain number of hostnames) there is some kind of cache pollution happening.

Once the cache has been flushed the files return to giving good responses for a certain amount of time before the same happens again.

This has been reproduced in this sample repository here with minimal config: https://github.com/mattv

[2022-05-24 11:50] kresike opened #28 "memory leak when adding partial config"
I'm trying to set up caddy as a caching reverse proxy for several sites and I will be using the config API to add, modify and remove sites as needed.
Everything works as expected, except when I configure new sites by adding new routes to the first http server, after say 20 sites the resident set size is at aroung 3G which seems like a lot. If I download the whole config using the API and reload it

[2022-05-25 19:04] darkweak commented on #27
After investigation this is a badger issue
<img width="721" alt="request-souin" src="https://user-images.githubusercontent.com/25440709/170348017-b196bec8-855e-4c7b-baf2-281eddd07ed5.png">
<img width="538" alt="response-souin" src="https://user-images.githubusercontent.com/25440709/170348031-d7d6ae29-fa58-4847-b050-6af8fddc113a.png">
because I request the right key but badger returns the bad key.

[2022-05-25 19:15] darkweak commented on #28
Hello @kresike can you put your caddy configuration please ?
And if possible a reproductible minimal repository ?

Thank you!

[2022-05-25 19:23] darkweak commented on #27
https://discuss.dgraph.io/t/badger-doesnt-return-the-good-value/17350

[2022-05-26 07:42] mattvb91 commented on #27
Aaah thanks for the heads up. I will try at some stage with the redis driver to see if that gets me further just to be able to continue development with the cache system

[2022-05-26 08:50] darkweak commented on #27
I will probably switch from badger to rosedb/lotusdb.
I recommend to you to use the embedded olric provider instead using the olric directive in the caddyfile/json config while I'm implementing the new default provider.

[2022-05-26 09:41] mattvb91 commented on #27
So I can confirm that on the first initial look my CI pipeline runs through using `olric` cache driver so from that side it seems to have improved something and locally it seems to look fine too on first glance.

The requests do come back with correct cache headers etc.. however now on the cache endpoint in my case `/__cache/souin` that lists active cache entries it is now always empty? (Even tho

[2022-05-26 09:47] darkweak commented on #27
I didn't tag the new Souin version, but instead of using github.com/caddyserver/cache-handler as with option you can use github.com/darkweak/souin/plugins/caddy@latest (or the master commit hash). This will include the patch for the surrogate-keys.

[2022-05-26 10:17] darkweak commented on #27
Do you have a running olric instance in the same network?
You don't have to specify the url or a configuration if you want to run olric as embedded mode (in memory). I think the documentation is not really explicit about that.

[2022-05-26 10:28] mattvb91 commented on #27
ah my bad yes I was instantiating a new olric container in my `docker-compose.yml` I didnt realize it was already included in the caddy image! Thats looking way better now.

For anyone else that stumbles on here from google / issue search my current config now looks like this:

[code]

and I can see the `/__cache/souin` list working. Also on initial glance I can do `PURGE` requests against for exa

[2022-05-26 14:15] mattvb91 opened #29 "Cant update caddy config when olric enabled"
Caddy crashes when posting a new config to `:2019/load` when olric is enabled as the cache driver
Seems to not shut down the olric port gracefully / cant reuse it on reboot

[code]

Also sometimes seeing this but not sure if related or not

[code]

#### Reproducible example here:
https://github.com/mattvb91/caddy-cache-olric-bug

Edit: Just to point out this is using `@latest` in the Dockerfile

[2022-05-26 14:42] mattvb91 commented on #26
@darkweak just had a look to try and purge the surrogate-key using badger (theres another issue with olric which ive created a new issue for) using the @latest tag and its still not working for me.

Can you confirm if I am sending the correct request structure?

[code]

It still just clears the full cache instead of an individual / multiple entries that have the associated surrogate key. But maybe

[2022-05-26 15:46] darkweak commented on #26
That’s probably a Souin bug not a cache-handler one.
Your request seems to be ok but the latest take the latest tagged version (v1.6.8) so you have to use github.com/darkweak/souin/plugins/caddy@8bc41371ab53410d4235624709e8d0a5245c2bc4 and it should work.

[2022-05-26 15:59] mattvb91 commented on #26
ah thanks, have just tested it with badger on that commit and behaviour is still the same im afraid where it still clears the full cache instead of individual keys.

I'll try it on the olric side once I can figure out how to reload the config on it! Thanks for your help

[2022-05-26 16:50] darkweak commented on #26
You missed the cdn cache directive to enable the surrogate system with the dynamic directive to enable dynamic surrogate keys storage (to avoid possible surrogate key pollution by another system if not enabled).

[code]

[2022-05-26 17:22] mattvb91 commented on #26
Ok so some progress but its still not working as expected.

I i start caddy and go to my url I see the following on the `/__cache/souin` endpoint:

[code]

Now I do a purge request like above:

[code]

and I can see that indeed now the one item has been removed from the list:

[code]

However now if I visit the page again it never gets readded and only lists the STALE_GET. The request itself comes

[2022-05-27 09:27] kresike commented on #28
@darkweak I compiled caddy using xcaddy, the command is in the original report, I have no separate repository for this. Also in the original report there is an attached bugreport.zip containing all the config files. Let me know if you need anything else.
Thank  you!

[2022-05-29 17:36] #29 closed

[2022-05-29 17:37] darkweak commented on #29
Works with the `--with github.com/darkweak/souin/plugins/caddy@960e570879a28ed30b4738738c4636895b8239af`

[2022-05-29 19:13] mattvb91 commented on #29
My build fails:

[code]

My dockerfile:

[code]

[2022-05-30 05:54] darkweak commented on #29
You have to specify `--with github.com/darkweak/souin@960e570879a28ed30b4738738c4636895b8239af`

[2022-05-30 07:09] mattvb91 commented on #29
:laughing: you can tell im lacking sleep I didnt realize it was a completely different repository.

Looks good now and can post to `/load` and succesfully reboots.

@darkweak do you have a sponsors / opencollective link? Only thing that currently still seems to be an issue is the `stale` & ` 'strategy' => 'hard'` directives seems to get ignored: https://github.com/caddyserver/cache-handler/issues/

[2022-06-02 20:38] darkweak commented on #27
If you attempt to load the embedded olric provider you just have to set `"olric": {}` in the caddyfile configuration.

[2022-06-02 20:45] darkweak commented on #27
If you want to connect to an olric instance you cannot use the embedded provider.
The fact your configuration isn't loaded is awkward, it should try to connect to an olric instance in the same network as your caddy instance 🤔.

[2022-06-02 22:20] darkweak commented on #27
[code]

[2022-06-03 04:36] mattvb91 commented on #27
@eth-limo I also have another feature request / question over here that may be relevant to you: https://github.com/darkweak/souin/issues/219

Would be interested to hear your thoughts on your use case

[2022-06-06 14:00] darkweak commented on #27
It should be okay once this branch got merged https://github.com/darkweak/souin/tree/feat/plugins/introduce-beego-plugin. I'm grouping commits for enhancements in this branch.

[2022-06-11 12:11] darkweak commented on #27
I can confirm that nutsdb fix the cache pollution (I tested with ~100 websites from your repository).

[2022-06-15 15:08] darkweak commented on #28
It could be the coalescing layer that cause this memory consumption/resident. I'll investigate on this way and try to reduce that.

[2022-06-16 09:06] darkweak commented on #28
The coalescing layer determine and store the requests that cannot be coalesced. If same multiple requests are sent to the server, only once will go to the backend and the same response will be used for all pending requests. But when you reload the configuration with caddy, this layer storage is not cleared so I'm working on it to call a reset method on it and use the caddy cleanup to trigger it on

[2022-06-16 09:16] kresike commented on #28
I see. Let me know if you have a working version, I'll be happy to test it.

[2022-06-16 15:48] darkweak commented on #28
This commit https://github.com/darkweak/souin/pull/220/commits/553c1c75ca6a21b31c488472f78067903df122e3 should fix that, I tried to load more than 20 times the config and with that the memory seems to be stable.

[2022-06-16 18:55] darkweak commented on #27
@mattvb91 You can now try with `--with github.com/darkweak/souin/plugins/caddy` and set the nuts directive to get the cache pollution fix.
[code]

[2022-06-17 16:06] mattvb91 commented on #27
@darkweak this all works great now.

The only last thing that is still an issue now is that the purge request by surrogate key doesn't flush the `STALE_GET` cache entry: https://github.com/caddyserver/cache-handler/issues/26#issuecomment-1138821401

[2022-06-17 16:06] #27 closed

[2022-06-17 23:40] darkweak commented on #27
That's weird, everything works on my side 😕

[2022-06-18 08:52] mattvb91 commented on #26
@darkweak i'll continue over here as I dont want to make a mess by referencing this in other issues.

Currently the behaviour im still seeing is:

Initial cache list:
[code]

`
GET - http://random-7qhlutyc.localhost/api/shop/get/fjallraven-foldsack-no-1-backpack-fits-15-laptops
`
[code]

Now the cache lists the following:

[code]

Now I do a purge on the surrogate key of that entry and the cache l

[2022-06-18 09:44] darkweak commented on #26
How do you purge the cache ?

[2022-06-18 09:46] mattvb91 commented on #26
[code]

[2022-06-18 09:48] darkweak commented on #26
What do you have on the GET `/__cache/souin/surrogate_keys`?

[2022-06-18 09:50] mattvb91 commented on #26
[code]

Ah it looks like `STALE_GET` does not get tagged with surrogate keys

[2022-06-18 10:06] darkweak commented on #26
That's this condition https://github.com/darkweak/souin/blob/master/cache/surrogate/providers/common.go#L75 🤦‍♂️ I keep stale if you set the strategy hard.

[2022-06-18 10:11] mattvb91 commented on #26
aah nice find. Ive just tried it with strategy = soft and it still doesnt purge it? Is there any way to completely disable stale storage?

[2022-06-18 10:34] darkweak commented on #26
This commit will fix that behavior https://github.com/darkweak/souin/pull/221/commits/6fb8f42b923ea0c79b42d2d7f9fe2d447197dbfa

[2022-06-18 10:47] mattvb91 commented on #26
Just tried it with that commit but the behaviour still remains the same for me.

Ive also tried setting:

[code]

because in my case i only cache GET requests but behaviour is still that the STALE request continues to persist.

[code]

[2022-06-20 14:08] kresike commented on #28
I've done some more tests. Seems that the memory leak issue is fixed. After more than 500 sites memory usage remained within a few megabytes of the original memory usage.

Now there is a linear slowdown in provisioning sites. At 10-20 sites the config is reloaded in 2-3 seconds on my desktop machine but at ~500 sites it takes more than 40 seconds to reload the configuration.

![profile003](https:/

[2022-06-21 07:41] kresike commented on #28
I thought about this some more, and this seems to work like this by design because whatever change is done in the caddy config, caddy starts a new instance internally and shuts down the old one after the new one is up.
The original problem has bee solved, so I'm closing the issue.

Thanks for fixing this @darkweak !

[2022-06-21 07:41] #28 closed

[2022-07-18 19:25] DzigaV opened #31 "Badger or Nuts?"
@darkweak I've just seen this PR, which adds support for Nuts: https://github.com/caddyserver/cache-handler/pull/30

Is Nuts now recommended over Badger? If so, how is it enabled in the CaddyFile?

A related question: are Badger and Nuts in-memory by default?

[2022-07-27 12:23] darkweak commented on #31
Hey @DzigaV, you can follow the `README` on the branch https://github.com/caddyserver/cache-handler/tree/feat/dependencies/bump-to-souin-v1.6.14#example-configurations.
To enable it you have to set the etcd directive with the configuration and use the etcd configuration naming https://pkg.go.dev/go.etcd.io/etcd/clientv3#Config e.g. :
[code]

[2022-07-27 15:57] #31 closed

[2022-07-27 16:33] mholt commented on #31
Which do you recommend @darkweak ?

[2022-08-01 08:29] darkweak commented on #31
@DzigaV I updated the example documentation that should be used on the cache-handler repository in this PR https://github.com/darkweak/souin/tree/feat/core/configurable-timeout-on-backend-and-cache-access/plugins/caddy.
Let me know if some parts are not well explained.

@mholt I recommend to use Olric and Badger first but in some edge cases Olric has desyncs in a K8s cluster (@eth-limo got this is

[2022-08-30 10:40] PythonLinks opened #32 "Installation"
It was not clear to me how to install.  I think you used to have instructions for how to compile.  Now they disappeared.
It would be nice if in the readme, you linked to the compilation instructions over on the main caddy documentation page.
https://caddyserver.com/docs/build#xcaddy

I am so glad to see that this package now looks like it is main stream supported.

HURRAH.

[2022-08-30 16:08] PythonLinks opened #33 "Better Examples Please"
I am a beginner at configuring Caddy.  Never tried Soin.

You have one example which tosses everything in.  Way too complex for the beginner to figure out.  I feel like giving up.

It would be great to have a simple proxy cache server example.
Then a more complex one caching based on path, or cookies.
Then a few other simple examples.
I could read each example by itself, and soon I would understan

[2022-08-30 16:16] mholt commented on #33
You're looking at the reference documentation, it's not an example. So it will have everything in it.

Did you look at the example Caddyfile? https://github.com/caddyserver/cache-handler/blob/master/Caddyfile

It's much simpler.

[2022-08-30 16:56] PythonLinks commented on #33
thank you for the ultra fast response.

I did see that page.  A bit better.

I think the larger problem is that this is really for high end sophisticated caching.

I think next I am going to try
https://github.com/sillygod/cdp-cache

It is the caddy 1 caching ported to caddy 2.

I already am using the caddy 1 caching, it worked great for my needs, and it has all of the same concepts I am used to.

[2022-08-30 21:36] mholt commented on #33
@darkweak tells me that the simplest config is:

[code]

Hopefully that helps!

[2022-08-30 22:09] darkweak commented on #33
The fastest way to configure the cache-handler is with the ttl directive. The others options are not mandatories. That's specified in the Souin documentation and in the cache-handler too.
We declare some `route` with different paths to set/activate different directives in the Caddyfile but if you just could declare once the Souin/cache-handler options on top of the caddyfile inside the global opti

[2022-08-31 16:58] PythonLinks commented on #32
Still not able to install.

there are several caddy 2 caching solutions.  This one is under https://github.com/caddyserver so it must be the right one to use.  Quite confusing.  I ended up trying all 3 solutions.  But I could not get this one to compile.

Running on Freebsd., First I tried.
 xcaddy build v2.5.2  --with https://github.com/caddyserver/cache-handler

go: malformed module path "https:

[2022-08-31 17:09] francislavoie commented on #32
I think you got the plugin's module path wrong. Try this:

[code]

In particular, a Go module path is not an HTTP URL, you can't have a scheme in there.

[2022-09-01 05:30] PythonLinks commented on #33
@mholt
So the very simple
`cache {
  ttl 10s
}`
soon to be just
`cache`
is exactly the kind of introductory documentation which a new person needs.

What do people cache?  Well usually it is a slow reverse proxy.  In my case a single python process.

So next I tried
'
greenmaps.us {
        reverse_proxy http://localhost:8084
        cache {
          ttl 10s
       }
}
'
And of course got the err

[2022-09-01 05:33] francislavoie commented on #33
`order` is global option. It must go inside the global options block. See the Caddyfile structure docs: https://caddyserver.com/docs/caddyfile/concepts#structure

[2022-09-01 05:49] PythonLinks commented on #33
That makes sense.
Thanks for the link.
Thanks for the fast response.
Hopefully I am getting closer.
But still no luck.
Next I tried:

`{
order cache before reverse_proxy
}

greenmaps.us {
        cache {
          ttl 10s
       }
       reverse_proxy http://localhost:8084
}`

And the errror message was:
`
#caddy reload

caddy responded with error: HTTP 400: {
"error":"
loading config:
loading new

[2022-09-01 06:18] darkweak commented on #33
The cache directive should be enabled in the global options too I think.
[code]

[2022-09-01 07:14] PythonLinks commented on #33
The fast responses are wonderful.
Sadly it is all still not working
I moved the cache to the glocal (first section), and tried removing it or leaving it in the green maps server section.

`
{
    order cache before reverse_proxy
    cache {
      ttl 10s
   }
}

greenmaps.us {
  reverse_proxy http://localhost:8084
}

`

and

`
{
  order cache before reverse_proxy
  cache {
    ttl 10s
  }
}

green

[2022-09-01 15:40] mholt commented on #33
Make sure you are running the same Caddy binary that has the module plugged in.

[2022-09-02 04:57] PythonLinks commented on #33
That Worked.
So here is a simplest caddy file caching with reverse proxy for the beginners who come after me.
`
`
{
order cache before reverse_proxy
cache {
ttl 10s
}
}

your-domain.com {
reverse_proxy http://localhost:8084/
}

`
Remember to change the domain name, and port.

The last comment really helped.

On freebsd the command:

pkg install caddy

Does not just copy in the file, it creates a s

[2022-09-02 07:41] PythonLinks opened #34 "Don't Cache Logged In Users"
I am building a mostly read web site.  A few people edit content, many read it.
(Well hopefully someday, many will read it).
I would like the anonymous user to see the cached version, but the logged in user should see the most recent version.

In Caddy 1,  my application server set images and anonymous user pages to  be public.   And I  set the cachekey to include the jwt token.  That way if they

[2022-09-07 12:24] darkweak commented on #34
Hello @PythonLinks, following the RFC the authenticated shouldn't get their response cached by the proxy. That's a bug in the library, I'll open a PR on the Souin repository and write the fix ASAP.

Thank you for this report! 👍

[2022-09-07 16:43] PythonLinks commented on #34
Great.  That would make my life so much easier.   I am glad I had some positive impact.

So there are a few obvious questions.  How do they determine who is authenticated?  For me, I used a jwt cookie, if it existed the person was authenticated, and it should not cache.

Of course it is a bit more complicated than that.  there are really several different concepts here.  When is the page cached, a

[2022-09-09 02:02] idontusenumbers opened #35 "Cache doesn't seem to cache anything"
I used the sample caddyfile at https://github.com/caddyserver/cache-handler/blob/master/Caddyfile (but with a different port)

I hit the server using postman:

[code]
I also tried `/test1`, `/test2`.

I get the `Hello World!` response but `Cache-Status` is always `Souin; fwd=uri-miss`

I'm expecting `Cache-Status` to be `hit` on the second request.

Am I missing something?

[2022-09-09 02:10] idontusenumbers commented on #35
My mistake; Seems in my testing I was using 'don't cache' (which I thought only affected the local browser cache), but it was sending a no-cache header to the server so Caddy didn't use the cache.

[2022-09-09 02:10] #35 closed

[2022-09-11 05:54] darkweak commented on #34
Resolved by https://github.com/darkweak/souin/pull/245/commits/8352f4925432abb2a524c3b62713d680897d01c4 (not available in the cache-handler repository yet)

[2022-09-11 05:59] darkweak commented on #34
I thought about a rewrite of the cache system configuration related to this issue https://github.com/darkweak/souin/issues/66 to have a conditional cache depending a header/cookie, it could be good to have the headers list in the cache_key tweaking configuration https://github.com/darkweak/souin/blob/b6066c9d1f4150b4cd82fc237979a21b0f6ab92a/configurationtypes/types.go#L113 that can be part of the

[2022-09-11 06:57] francislavoie commented on #34
If it's just a question of "does the cache handler run or not", then Caddy's built-in request matchers make way more sense to use here than trying to build a matching solution inside out the cache module itself. No need to re-invent the wheel.

[2022-09-14 12:56] PythonLinks commented on #34
I tried again and gave up.   Caddy 1 and certbot on Linux work great.  I cannot get either caddy 2 nor certbot to work on FreeBSD.  After a solid week or two or more  of trying, and delaying most of a year, I think I am giving up.

There is too much complexity.
there is pkg install and /usr/ports/security
There is py-certbot and py-certbot-nginx.

And then there are the py38 and py39 versions of b

[2022-09-20 09:59] darkweak commented on #34
Resolved in Souin `v1.6.19`.

[2022-09-20 10:02] darkweak commented on #33
Using Souin, you can now use only the `cache` directive to use the default values (the caching duration is `2m` by default)
[code]

[2022-10-10 15:58] tve commented on #33
I was in a similar boat as PythonLinks, without this threadf I would have given up. Please put a simple complete example in the README.

[2022-10-10 16:19] tve opened #36 "fatal errors are not logged"
I'm trying to use the cache handler and it wasn't working. The symptom:
[code]

Only after I turned on debug logging I got:
[code]

1. why is this error not logged without debug?
2. why is there a panic?
3. it looks to me like this 'badger' thing needs some config to cache >1MB? do I now need to go on a quest to figure out what badger is, why http.cache uses it, and how to configure it?

[2022-10-10 16:32] tve opened #37 "can't figure out badger"
I'm trying to cache a 2.7MB response and I get a badger error (see #8):
[code]

Looks like there's a 1MB limit. The README points to "See the Badger configuration for the options" which links to https://dgraph.io/docs/badger/get-started/. Well, I'm probably blind, but I don't see any documentation about configuration there.

I'm also not finding any information on how the cache handler uses badger

[2022-10-10 16:45] mholt commented on #36
What is the full error message? It should have a stack trace.

Code somewhere is panicking -- it definitely should not be -- and the std lib is catching it. Because the Go standard library is catching it and emitting the log, the log is treated as DEBUG level, as std lib logs are usually noise in the context of Caddy.

[2022-10-10 16:56] tve commented on #36
Maybe it would be a good idea to pattern match stack backtraces and emit some error log entry to indicate that something is gone horribly awry?

Here's the backtrace as it appears in the log:
[code]

[2022-10-10 18:30] PythonLinks commented on #33
You will find it much easier to configure cdp-cache.

From my cdp-cache pull request.

This is a http cache plugin for caddy 2. The difference between this and cache-handler https://github.com/caddyserver/cache-handler is that this one is much easier to understand and configure. But it does not support a distributed ache, and it needs to be compiled with golang 1.17 and caddy version v2.4.6

[2022-10-10 18:32] tve commented on #33
Link?

[2022-10-10 18:41] darkweak commented on #33
Please check the README in the Souin repository. The cache-handler will be updated tomorrow to add the new features and be able to set the following directive in the caddyfile
[code]
I never got an issue while trying to store more than 1MB but if you need more examples I can just say to wait 1 day until I write some others.

[2022-10-10 18:46] tve commented on #36
I'm getting what looks like the same error using cdp-cache:
[code]

[2022-10-10 18:48] PythonLinks commented on #36
how did you compile cdp-cache?  Which version of go?  What command?

What is your caddy file. ?

[2022-10-10 18:52] tve commented on #36
Please ignore (I've deleted the comment I had made), I got mixed up and thought the backtraces were the same. The crash with cdp-cache was due to using caddy 2.5.1.

[2022-10-13 08:54] mattvb91 commented on #37
Personally I would recommend using the nutsdb setup, badger has been nothing but unstable for myself. (I am also caching pretty big full page responses).

In the latest version redis support has also been added which may be an even better option. Caddy caching in general is still pretty flakey but its definitely getting better with the latest releases.

[2022-10-14 11:57] #32 closed

[2022-10-14 11:57] #33 closed

[2022-10-14 11:57] #34 closed

[2022-10-20 23:58] darkweak commented on #36
Can you retry with the latest release please?

[2022-10-31 20:55] 365cent opened #38 "Caddy exit after enable cache"
![image](https://user-images.githubusercontent.com/74791570/199107524-1efbe88a-a280-4922-af3b-32d42c85ef0f.png)
Hi, I've got a problem running the cache handler module. When I tried to run Caddy with this module enabled, it crashed after a few minutes. I thought I hadn't left enough memory (2G) for caddy, then I got the same issue on my dedicated machine. I tried it with redis enabled and default

[2022-10-31 21:42] francislavoie commented on #38
We'll need to see the full log message. Run `journalctl -u caddy --no-pager | less +G` as per the docs: https://caddyserver.com/docs/running#using-the-service

[2022-11-01 02:16] shuaiZend opened #39 "panic when use cache-handler"
[code]

[2022-11-01 14:39] przybylowicz0 commented on #38
Hi Francis,
Thanks for the information. I configured my Caddyfile to debug mode. However, I don't see any log print out after I run `journalctl -u caddy --no-pager | less +G`. This time it exited after 4 hours. Please advise if this block of Caddyfile is written correctly. I will try again today.
`
{
        debug
        log {
                level debug
        }
        order cache before rewri

[2022-11-01 16:10] francislavoie commented on #38
That Caddyfile definitely doesn't look correct, because you're missing newlines and indentation. Please format it correctly!

I don't understand how you could have no logs, because you clearly have a log message as seen by your `service status caddy` call

[2022-11-01 19:39] przybylowicz0 commented on #38
Hi Francis,
The global options of Caddyfile is something look like this. I put site block in separate file. Do I need to put log level debug on my site configure file. I thought it is global settings and will inherits by sites.
[code]

[2022-11-01 20:09] darkweak commented on #39
I'm already working on a fix about that to ensure no headers are not yet sent when calling the `Header()` function.

[2022-11-01 23:14] oakwhiz commented on #39
Having the same issue here:

[code]

[2022-11-07 23:23] oakwhiz commented on #39
I've also been getting this on the v0.3.0 tag, although less frequently.

[2022-11-11 15:54] vncloudsco opened #40 "how to configure redis with caddy?"
hello team
I have read the configuration but still don't understand how to configure because the documentation is not clear when configuring caddy with redis, i have configured redis on Caddyfile  as below but found that they don't work with cache, so how can i configure it properly?  Can someone give me a sample Caddyfile configuration file?

[code]

[2022-11-11 16:02] mholt commented on #40
Thanks for your question, and we're glad that you're using Caddy! So far, this doesn't look like a bug in Caddy. It looks more like a question about how to use Caddy rather than a bug report or feature request.

Since this issue tracker is reserved for actionable development items, I'm going to close this, but we have a [community forum at caddy.community](https://caddy.community) where more peopl

[2022-11-11 16:22] PythonLinks commented on #40
I will chime in here.  I also have problems with configuration, so I am now unhappily using nginx.  You recently released a new version, with a very simple configuration example, but more work on the docs, and more simple examples are  most needed.

Someday you will get it right, and then I will be able to ditch NGINX and certbot and all of that complexity.

[2022-11-11 18:47] darkweak commented on #40
@PythonLinks You can submit a PR for that if you think that the configuration is not clear. Ask for specific configurations examples with the cases you want to know how to configure. 🙂

[2022-11-11 18:50] darkweak commented on #40
@vncloudsco there was a wrong condition in the redis provider integration. Resolved here https://github.com/darkweak/souin/issues/270#issuecomment-1293873241 but not yet available in the cache-handler (I plan to create the release on monday 🤞).

[2022-11-12 05:58] vncloudsco commented on #40
@darkweak this is good news thank you! I will wait for information from you!

[2022-11-15 07:18] darkweak commented on #39
I apologize for the delay.

[2022-11-15 07:24] darkweak commented on #38
@przybylowicz0 Sorry for the delay. You have to set the cache directive for each sites/routes. It will extend the global configuration and override the properties you redeclare in the site/route block inside the cache directive.

[2022-11-16 08:02] shuaiZend commented on #39
@darkweak  thx, we well try it

[2022-11-16 09:10] darkweak commented on #39
You can try the fix using `xcaddy build --with github.com/darkweak/souin/plugins/caddy@b3c744699c5045acf0ed45bb7621927b7e42cc2e --with github.com/darkweak/souin@b3c744699c5045acf0ed45bb7621927b7e42cc2e`

[2022-11-16 22:00] przybylowicz0 commented on #38
Hi. It is ok. I already put cache directive for each sites. I was just wondering about should I put log in the site directive. Never mind about that. I think I got the similar output as #39 previously. So I have shut down the testing server and just gonna wait for next update.

[2022-11-18 06:26] shuaiZend commented on #39
[code]

env:
[code]

[2022-11-18 12:57] darkweak commented on #39
Do you have an idea to reproduce that?

[2022-11-22 11:29] shuaiZend commented on #39
No，
But It has been running stably for 4+ days now

[2022-11-25 21:59] #39 closed

[2022-11-28 14:18] shuaiZend commented on #39
@darkweak
error again
[code]